@import '../../Styles/variables.scss';

.Note {
	display: flex;
	padding: 32px;

	.partial-text {
		display: flex;

		.foot-note {
			position: relative;

			&::before {
				content: '*';
				display: block;
				cursor: pointer;
				transition: transform 0.2s ease, color 0.2s ease;
			}

			.pop-over {
				position: absolute;
				top: 16px;
				left: 0;
				width: max-content;
				max-width: 264px;
				opacity: 0;
				pointer-events: none;
				transform: perspective(800px) translateZ(32px);
				transition: transform 0.2s ease, opacity 0.2s ease;
			}

			&.active {

				&::before {
					transform: scale(1.5);
					color: $secondary-color;
				}

				.pop-over {
					pointer-events: unset;
					opacity: 1;
					transform: perspective(800px) translateZ(0px);
				}
			}
		}
	}
}
