@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';
@import './responsive.scss';

.nav-link {
	position: relative;
	padding: 16px 24px;

	&.expanded {
		.nav-link__expander::before {
			background-color: #fff;
			transform: rotateZ(180deg);
		}
	}

	&__expander::before {
		content: '';
		position: absolute;
		top: 16px;
		left: -16px;
		display: block;
		padding: 12px;
		mask: url(../../Assets/Icons/down.svg) no-repeat center / cover;
		background-color: rgba(255, 255, 255, 0.5);
		transition: transform 0.2s ease, background-color 0.2s ease;
	}

	a {
		text-decoration: none;
		font-weight: bold;
		color: $primary-color-translucent;
		transition: color 0.2s ease;

		&:hover,
		&.active {
			color: $primary-color;
		}
	}

	&:hover &__sub {
		pointer-events: all;
		opacity: 1;
		transform: translateY(50px);
	}

	&__sub {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		padding: 16px 0 0;
		pointer-events: none;
		transition: opacity 0.3s ease, transform 0.3s ease;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: -8px;
			left: 16px;
			width: 0;
			height: 0;
			border: inset transparent 12px;
			border-bottom-color: #fff;
		}

		&__inner {
			padding: 8px 0;
			background-color: #fff;
			@include box-shadow-03;

			.nav-link {
				padding: 16px;

				a {
					padding: 8px;
					border-left: 4px solid transparent;
					transition: color 0.3s ease, border-color 0.3s ease;

					&:hover,
					&.active {
						border-color: $secondary-color;
					}
				}
			}
		}
	}
}
