
.topbar {
    padding: 8px 0;
    background-color: #001D30;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lang-options {
            color: #fff;
        }
    }
}

.navbar {
    // padding: 16px 0;
}
