@import '../../Styles/variables.scss';
@import './responsive.scss';

header {
	position: relative;
	z-index: 1;

	.topbar {
		padding: 8px 0;
		background-color: $primary-color;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.lang-options {
				display: none;
				color: #fff;
			}

			.menu-toggle {
				width: 32px;
				height: 32px;
			}
		}
	}
}
