
.Note {
    display: flex;

    .partial-text {
        display: flex;

        .foot-note {
            position: relative;
    
            &::before {
                content: '*';
                cursor: pointer;
            }
    
            .pop-over {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
    
                &.active {
                    display: block;
                }
            }
    
        }
    }
}

.shadow-radius-box {
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
