@import-normalize;

@import './Styles/fonts.scss';
@import './Styles/variables.scss';
@import './Styles/mixins.scss';
@import './Styles/responsive.scss';

body {
	margin: 0;
	font-family: 'SourceSansProRegular';
	font-weight: 400;
}

.container {
	margin: 0 16px;
}

.flex-center {
	@include flex-center;
}

.shadow-radius-box {
	padding: 16px;
	background-color: #fff;
	border-radius: 4px;
	@include box-shadow-03;
}

.icon {
	@include icon32x32;
}
