@import-normalize;

@import './Styles/fonts.scss';
@import './Styles/variables.scss';
@import './Styles/mixins.scss';

body {
	margin: 0;
	font-family: 'SourceSansProRegular';
	font-weight: 400;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.shadow-radius-box {
	padding: 16px;
	background-color: #fff;
	border-radius: 4px;
	@include box-shadow-03;
}
